@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--body-bgcolor);
  overflow-x: hidden;
}
:root {
  --nav-collapse: #fff;
  --body-bgcolor: #fff;
  --bgcolor: #d6dcec;
  /* --active-nav-color:#000; */
  --header-bgcolor: #d6dcec;
  --nav-shadow: rgba(28, 21, 48, 0.5);
  --nav-active: #6f5de7;
  --li-hover: #1f1a1a;
  --work-bgcolor: #fff;
  --work-container-shadow: #c7c6cb;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
  --nav-color: #fff;
  --h-text-color: #333333;
  --fontawesome-color: #6f5de7;
  --work-subdiv-hover: #d6dcec;
  --input-btn: var(--contact-btn);
  --subdiv-shadow: rgba(0, 0, 0, 0.16);
  --footer-bgcolor: #182334;
  --career-btn: #6f5de7;
  --contact-btn: #6f5de7;
  --social-icon: #6f5de7;
  --footer-hover: #fff;
  --footer-icon: #6f5de7;
  --footer-btn: #6f5de7;
  --service-number: #6f5de7;
  --btn-border: #6f5de7;
}
.dark-theme {
  --li-color: #fff;
  --active-nav-color: #000;
  --li-hover: #9989ad;
  --nav-collapse: #070713;
  --nav-active: #fff;
  --header-bgcolor: #2c2b2b;
  --nav-shadow: rgba(214, 213, 217, 0.5);
  --work-bgcolor: #1b1c1e;
  --work-container-shadow: rgba(251, 248, 248, 0.682);
  --body-bgcolor: rgb(24, 24, 26);
  --bgcolor: #d6dcec;
  --primary-color: #6855e4;
  --text-color: #979799;
  --main-text-color: #333333;
  --nav-color: #04040b;
  --h-text-color: rgb(246, 240, 240);
  --fontawesome-color: #111a32;
  --work-subdiv-hover: #3c3447;
  --subdiv-shadow: #9c9a9a;
  --footer-bgcolor: #363638;
  --career-btn: rgb(246, 240, 240);
  --contact-btn: #9c9a9a;
  --social-icon: #fff;
  --footer-icon: #fff;
  --footer-btn: #000;
  --input-btn: #000;
  --service-number: #fff;
  --btn-border: #fff;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-text-color) !important;
}

/* --------------------------------- navbar css style starts 
                        -------------------------------------------------------*/
.logo {
  height: 5rem;
  width: 5rem;
  background-color: transparent;
}
nav {
  padding: 2rem 0;
  z-index: 99;
  position: fixed;
  /* width: 100%; */
  height: 8rem;
  background-color: var(--nav-color) !important;
  transition: 0.5s;
  box-shadow: 0 0.2rem 0.5rem var(--nav-shadow);
}
.navbar-brand {
  font-size: 2.5rem;
}
.navbar-collapse {
  right: 0;
  position: absolute;
}
.navbar li {
  padding: 0 5rem;
  margin-right: 0;
}

.navbar li a {
  color: var(--li-color);
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
  padding: 5px 9px !important;
}
.navbar li a:hover {
  color: var(--li-hover) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(30, 26, 56, 0.5);
}
.moon {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 8px 40px rgba(23, 23, 23, 0.2);
}
.sun {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
}
.ld-icon {
  right: 0;
  height: 7rem;
  position: fixed;
  top: 40%;
  background-color: lightgrey;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
  border-radius: 2rem;
}
.ld-icon .moon {
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  display: block;
}
.ld-icon a {
  padding-bottom: 0rem;
}
.nav-item .active {
  background-color: var(--nav-active);
  border-radius: 2rem;
  color: #000;
  /* width:10rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav .nav-link.active {
  color: #000;
}

.header-space {
  margin-top: 1rem;
  width: 100%;
}
.btn-style {
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--contact-btn);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.btn-style:first-child {
  margin-right: 2rem;
}

.btn-style:hover {
  border: 0.1rem solid var(--contact-btn);
  background-color: transparent;
  color: var(--contact-btn);
  box-shadow: 0 0.2rem 0.5rem rgba(166, 151, 247, 0.5);
}

.btn-style-border {
  border: 0.1rem solid var(--contact-btn);
  background-color: transparent;
  color: var(--contact-btn);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border:hover {
  color: #fff;
  background-color: var(--footer-btn);
  text-transform: capitalize;
}

/* --------------------------------- Navbar ends  
                        -------------------------------------------------------*/

/* --------------------------------- Hero section  starts  
                        -------------------------------------------------------*/
header {
  background-color: var(--header-bgcolor) !important;
  /* background-color: black; */
  min-height: 100vh;
  width: 100%;
}

.main-hero-container {
  height: 80vh;
  display: flex;
  margin-top: -5rem;
}

.main-hero-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}

#main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  /* color:white; */
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

.main-hero-container h3 {
  font-weight: lighter;
}

.input-group {
  position: relative !important;
}

.form-control-text {
  position: absolute;
  height: 5rem;
  border: none;
  outline-style: none;
  padding-left: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: lighter;
}

.input-group-button {
  position: absolute;
  right: 51%;
  top: 0.5rem;
  color: #fff;
  background-color: var(--input-btn);
  height: 4rem;
  width: 15%;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
}

/* right side of hero section  */

.main-herosection-images {
  position: relative;
}

.main-herosection-images img {
  width: 60%;
  height: 75%;
  margin-top: 10rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  position: absolute;
}

.main-herosection-images .main-hero-img2 {
  position: absolute;
  width: 50%;
  height: 30%;
  right: 0%;
  top: -2%;
  box-shadow: 0.8rem 0 0.8rem rgba(0, 0, 0, 0.25);
}

/* --------------------------------- Hero sEction  ends  
                        -------------------------------------------------------*/

/* --------------------------------- Work Section below hero section   starts  
                        -------------------------------------------------------*/

.work-container {
  width: 80vw;
  padding: 5rem;
  box-shadow: 0 0.4rem 1.2rem var(--work-container-shadow);
  margin-top: -10rem;
  background-color: var(--work-bgcolor) !important;
  border-radius: 0.5rem;
}

.work-container .main-heading {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  word-spacing: 1rem;
}

.work-container-subdiv {
  padding: 0 6rem;
}

.work-container-subdiv:hover {
  background-color: var(--work-subdiv-hover);
  cursor: pointer;
}
.work-container-subdiv {
  box-shadow: 0 0.1rem 0.4rem var(--subdiv-shadow);
}

.work-container .sub-heading {
  font-size: 2rem;
  font-weight: normal;
}

.fontawesome-style {
  font-size: 2.3rem;
  color: var(--fontawesome-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--bgcolor);
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem auto;
}
/* --------------------------------- Work Section below hero section   ends  
                        -------------------------------------------------------*/

/* --------------------------------- About Us Section STarts  
                        -------------------------------------------------------*/
.common-section {
  margin: 5rem 0;
}

.our-services img {
  width: 40%;
  height: 75%;
  margin-top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}

.our-services .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.our-services .main-heading {
  font-weight: bolder;
}

.our-services-info {
  margin-top: 4rem;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--service-number);
  font-size: 1.5rem;
  color: var(--service-number);
  display: grid;
  place-items: center;
}

.our-services-data {
  padding-left: 2rem;
}

.our-services .our-services-data p {
  margin: 1rem 0;
}

/* 2nd section of about us  */

.our-services-rightside {
  margin-top: 10rem;
}

.our-services-rightside-content {
  padding-left: 8rem;
}

/* --------------------------------- About Us Section ends  
                        -------------------------------------------------------*/
/* --------------------------------- Services Section starts  
                        -------------------------------------------------------*/

.service-main-container {
  margin-top: 5rem;
  padding: 5rem 0;
}

.service-main-container .main-heading {
  margin: 3rem 0;
}

.work-container-subdiv:hover > .fontawesome-style {
  background-color: #fff;
}

.work-container-subdiv #main-hero-para {
  width: 100%;
}

.service-main-container .work-container-subdiv .fontawesome-style {
  text-align: left;
  margin: 2rem 0;
}
@media (min-width: 1400px) {
  .service-container .col-xxl-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .service-container .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}

/* --------------------------------- Services Section ends  
                        -------------------------------------------------------*/
/* --------------------------------- Portfolio Section starts  
                        -------------------------------------------------------*/
.port-main-container {
  padding: 1rem;
  border-radius: 2rem;
}
.port-main-container .portfolio-image {
  padding: 1rem;
  border-radius: 2rem;
}
.portfolio-image {
  height: 38rem;
  width: 38rem;
  cursor: pointer;
}
.port-main-heading {
  padding: 1rem;
}
.port-container-subdiv:hover .portfolio-image {
  opacity: 0.5;
}
.port-container-subdiv:hover div {
  visibility: visible;
  position: relative;
  top: -15rem;
  left: 5rem;
  font-weight: bold;
}
.port-info {
  padding-top: 5rem;
  color: rgb(15, 15, 15);
  visibility: hidden;
  text-transform: capitalize;
}
.port-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.port-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(159, 140, 140);
  font-size: 1.2rem;
  margin-left: 4rem;
}
.port-info h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.career-main-heading {
  padding: 2rem;
}
.career-btn {
  width: 14rem;
  height: 4rem;
  float: right;
  margin-top: -5rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--career-btn);
  text-transform: capitalize;
  font-size: 1.6rem;
  border: 0.1rem solid var(--career-btn);
  background-color: transparent;
  color: var(--career-btn);
  box-shadow: 0 0.2rem 0.5rem rgba(24, 22, 33, 0.5);
}
.logo-design {
  font-size: 2.3rem;
  color: var(--primary-color);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: var(--bgcolor);
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem auto;
}
.career-subdiv {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
}

.career-subdiv:hover {
  background-color: var(--bgcolor);
  cursor: pointer;
}

.career-subdiv:hover > .logo-design {
  background-color: #fff;
}

.career-subdiv #main-hero-para {
  width: 100%;
}

/* --------------------------------- Contact US Section starts  
                        -------------------------------------------------------*/
.contactus-section {
  margin: 15rem 0;
}

.contact-leftside img {
  min-width: 80%;
  max-height: 30rem;
  height: auto;
}

.contact-input-feild {
  margin-bottom: 4rem;
}

.contact-rightside form .form-control {
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

.contact-rightside form .form-check-input {
  width: 2rem;
  height: 2rem;
}
.form-error {
  font-size: 1.4rem;
  color: #b22b27;
}
.form-checkbox-style {
  margin: 4rem 0;
}

.contact-rightside form #main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 2rem;
}
/* --------------------------------- Contact US Section ends  
                        -------------------------------------------------------*/

/* --------------------------------- Footer  Section starts  
                        -------------------------------------------------------*/

footer {
  padding: 5rem 0;
  background-color: var(--footer-bgcolor);
  color: #fff;
}

footer h2 {
  color: #fff;
}

footer li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
}
.sub-input {
  font-size: 1.4rem;
  padding: 2rem;
  color: #6a6a6d;
  height: 5rem;
}
.sub-btn {
  height: 4rem;
  width: 11rem;
  font-size: 1.5rem;
}
footer li:hover {
  color: var(--primary-color);
}

footer .fontawesome-style {
  font-size: 2.3rem;
  color: var(--footer-icon);
  background-color: transparent;
  width: 0rem;
  height: 0rem;
  margin: 2rem 0;
  cursor: pointer;
}
.subscribe-btn {
  position: absolute;
  top: 0.5rem;
  color: #fff;
  background-color: var(--contact-btn);
  height: 4rem;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  cursor: pointer;
  width: 40%;
  right: -20%;
}
.social {
  display: block;
}

.social-icons {
  color: var(--social-icon);
  font-size: 2.6rem;
  position: relative;
  cursor: pointer;
}
.social i {
  padding: 1rem;
}
.social-info {
  display: inline;
}
footer .fontawesome-style:hover {
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
  color: var(--footer-hover);
  border-color: var(--btn-border);
}

@keyframes rotatefont {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.2);
  }
}

footer #main-hero-para {
  margin: 0;
}

/* --------------------------------- Footer  Section ends  
                        -------------------------------------------------------*/

/* --------------------------------- 404 Error Page Section 
                        -------------------------------------------------------*/

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Maven Pro", sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}

/* --------------------------------- 404 Error Page Section  Ends
                        -------------------------------------------------------*/

/* --------------------------------- responsive media queries  
                        -------------------------------------------------------*/
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

@media (max-width: 998px) {
  .ld-icon {
    right: 11%;
    top: 35%;
  }
  .navbar .navbar-collapse {
    margin-top: 34rem;
    background-color: var(--nav-collapse);
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
  }
  .nav-item {
    /* width:40%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-space {
    margin-top: 12rem;
  }
  .work-container .main-heading {
    margin-top: 29rem;
  }
  .form-control-text {
    font-size: 1.2rem;
  }

  .input-group .btn-style {
    font-size: 1.3rem;
  }
  /* main hero container style  */
  .main-hero-container h1 {
    font-size: 2.5rem;
  }
  #main-hero-para {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding-right: 1rem;
    width: 100%;
  }
  #main-hero-para h3 {
    margin-top: 1rem;
  }
  .main-hero-container .header-left-side {
    padding-left: 4rem;
    margin-top: 1rem;
  }
  .main-herosection-images {
    position: relative;
    height: 25rem;
  }

  .header-right-side img {
    width: 60%;
    height: 100%;
    margin-top: 0rem;
  }
  header {
    min-height: 92vh;
  }
  .header-right-side .main-hero-img2 {
    position: absolute;
    width: 40%;
    height: 35%;
    left: 50%;
    top: -2%;
    box-shadow: 0.8px 0rem 0.8rem rgb(0 0 0 / 25%);
  }
  .header-left-side h3 {
    margin-top: -3rem;
  }
  .input-group .input-group-button {
    right: 18%;
    width: 30%;
  }
  .work-container .main-heading {
    font-size: 2.7rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    word-spacing: 0rem;
    margin-top: 1rem;
  }
  .work-container {
    width: 90vw;
    margin-top: -4rem;
  }
  .work-container-subdiv {
    padding: 0 0rem;
  }
  /* how to use working */
  .our-services-list {
    padding-left: 3rem;
  }
  .main-hero-container h1 {
    margin-top: 2rem;
  }
  .service-main-container {
    margin-top: -13rem;
  }
  .our-services-rightside-img {
    text-align: center;
    margin-top: 5rem;
  }
  .our-service-rightside-img {
    margin-left: 5rem;
  }
  .our-services .mini-title {
    margin-top: 6rem;
  }
  /* our services  */
  .our-services img {
    width: 70%;
    height: 85%;
    margin-top: 2rem;
  }
  .out-services .our-service-leftside-img img {
    margin-top: 0;
  }
  .service-container .work-container-subdiv {
    padding: 0 2rem;
    margin: 2rem auto;
  }
  .service-container .main-heading {
    margin: 5rem auto 0 auto;
    font-weight: bolder;
  }
  .our-services-rightside-content {
    padding-left: 3rem;
  }
  /* footer css style  */
  figure .img-fluid {
    margin-left: 4rem;
  }
  .contact-rightside {
    margin-top: 5rem;
  }
  .contactus-section {
    margin: 5rem 0;
  }
  .contact-rightside form #main-hero-para {
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 0;
    font-weight: lighter;
    width: 98%;
    padding: 0px 1rem;
  }
  .footer-b {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sub-btn{
    margin-top: -10rem;
  }
  .social {
    margin-left: 3rem;
  }
  .follow {
    padding: 2rem;
  }
  .sub-input {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .subscribe-btn {
    width: 30%;
    right: 33%;
  }
}
